/* slideShow */

.dummy {
  /* something goes wrong when concatenating */
}

h1 {
  position:relative;
  text-align:center;
  margin:10px 0;
  color:#70a0ee;
}

h2 {
  position:relative;
  text-align:center;
  margin:10px 0;
  color:#80b0ff;
}

.slide-show {
  position:relative;
  margin:0;
  padding:0;
}

.slide {
  position:relative;
  padding:0;
  height:440px;
  display:none;
}

.slide-body {
  position:relative;
  padding:0;
  margin:10px 0;
}

.slide.active {
  display:block;
}

.slide-nav {
  height:40px;
}

.slide-nav-btn {
  width:33%;
}

.slide-nav-btn.pull-right {
  float:right;
}
