<div class="slide-show" tabindex="0"
  ui-keyup="{'left':'down()', 'right':'up()', 'down':'up()', 'up':'down()'}">
  <ng-include src="headerTemplate"></ng-include>
  <slide ng-repeat="slideContent in slideSource"
         slide-content="slideContent"
         ng-click="up()">
  </slide>
  <div class="container-fluid slide-nav">
    <button class="btn btn-primary slide-nav-btn" ng-click="down()">
      &lt;
    </button>
    <button class="btn btn-primary slide-nav-btn pull-right" ng-click="up()">
      &gt;
    </button>
  </div>
</div>
